<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业官网</title>
    <link rel="stylesheet" href="enterprise.css">
</head>
<body>

<header class="header">
    <nav class="nav-links" aria-label="nav-links">
        <a href="#" class="logo">
            <svg aria-label="Vercel logomark" height="22" role="img" style="width:auto;overflow:visible" viewBox="0 0 74 64">
                <path d="M37.5896 0.25L74.5396 64.25H0.639648L37.5896 0.25Z" fill="var(--geist-foreground)"></path>
            </svg>
            <h3>NEXT.js</h3>
        </a>
        <a href="#" class="pc">Showcase</a>
        <a href="#" class="pc">Docs</a>
        <a href="#" class="pc">Blog</a>
        <a href="#" class="pc">Analytics</a>
        <a href="#" class="pc">Templates</a>
        <a href="#" class="pc">Enterprise</a>
    </nav>
    <nav class="nav-operates" aria-label="nav-operates">
        <label class="pc"><input type="text" name="search"/></label>
        <a href="#" class="pc">登录</a>
        <a href="#" class="pc">注册</a>
    </nav>
</header>
<main class="main">
    <section class="landing">
        <h1>The React Framework for the Web</h1>
        <h2>Used by some of the world's largest companies, Next.js enables you to create <br/> high-quality web applications with the power of React components.</h2>
        <div>
            <button> Get Started</button>
            <button> Learn Next.js</button>
        </div>
        <div>
            npx create-next-app@latest
        </div>
    </section>
    <section class="feature">
        特性
    </section>
</main>
<footer class="footer">
    页脚
</footer>

<script>
    // Array.from({length: 100}).forEach((item, i) => {
    //     document.querySelector(".main").append(document.createElement('br'));
    // });
</script>
</body>
</html>
